@font-face{
  font-family:'RIPPLE';
  src: url('../fonts/RIPPLE.ttf') format('truetype');
}

h1{
  font-family:'RIPPLE';
  font-variation-settings: 'hght' 900;
  font-style: normal;
  font-size: 800px;
  line-height: 1.7;
  color: red;
}
h2{
  color:red;
}
