@font-face{
  font-family:'RIPPLE';
  src: url('../fonts/RIPPLE.ttf') format('truetype-variations');
}

:root{
  --hght: 100;
}


.RIPPLE, .RIPPLE *{
  font-variation-settings: 'hght' var(--hght);
}

html, body { background-color: #f6f7eb; height:100%; margin:0; padding:0 }

#NW { display:block; width:50%;   height:50%;   background:#f2f2f2; float:left; }
#NE { display:block; width:50%;   height:50%; left:50%; background:#3892f4; float:left;  }
#SW { display:block; width:50%; height:50%;   background:#4d4d4d; float: left;}
#SE { display:block; width:50%;  height:50%; left: 50%; background:#daef18; float: left; }

#sliders{
  position:relative; display: block;
}
body{
  font-family:"RIPPLE";
  position:relative;
  display:block;

}
#main{
  font-size: 90pt;
}
#specimen{
  font-size: 30vw;
  text-align: center;
}
#content0 h1{
  font-family:'RIPPLE';
  /*font-variation-settings: 'hght' 200;*/
  font-style: normal;
  font-size: 400px;
  line-height: 0.5;
  color: transparent;
  -webkit-text-stroke: 1px black;
  --hght: 600;
}

#navigation{
  font-size: 25pt;
  color: #d8d5a0;
  line-height: 2;
  --hght: 100;
  margin-left: 40px;
}
.button
{
  display: inline-block;
  margin-left: 30px;
}

#intro{
  font-size: 27vw;
  color: transparent;
  -webkit-text-stroke: 2px #fd1a16;
  line-height: 2;
}
#content1 h1{
  font-family:'RIPPLE';
  display:block;
  /*font-variation-settings: 'hght' 200;*/
  font-style: normal;
  font-size: 400px;
  line-height: 0.5;
  color: transparent;
  -webkit-text-stroke: 1px black;
  --hght: 200;
}
h2{
  color:red;
}
.highlight{
line-height: 1.8;
margin-left: 20pt;
text-align: center;

}
