body{
  margin:0pt;
}

body#page0{
    height: 1100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(51,100,130,1) 50%, rgba(255,255,188,0.75));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

body#page1{
    height: 1800px;
    width: 100%;
    background: linear-gradient(0deg, rgba(51,100,130,0.8) 8%, rgba(255,255,188,0.7) 92%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

body#page2{
    height: 2300px;
    width: 100%;
    background: linear-gradient(0deg, rgba(51,100,130,1) 36%, rgba(255,255,188,0.7) );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;

}

body#page3{
    height: 2100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(51,100,130,1) 75%, rgba(255,255,188,0.7) );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;

}

body#page4{
    height: 2900px;
    width: 100%;
    background: linear-gradient(0deg, rgba(51,100,130,1) 90%, rgba(255,255,188,0.7) );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;

}

body#page5{
    height: 3300px;
    width: 100%;
    background: linear-gradient(0deg, rgba(51,100,130,1) 96%, rgba(255,255,188,0.7) );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;

}

@font-face {
    font-family: 'cirkaregular';
    src: url('../fonts/Cirka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirkabold';
    src: url('../fonts/Cirka-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'changsongjian';
    src: url('../fonts/changsongjian.ttf') format('truetype');

}

@font-face {
    font-family: 'AppleMyungjo';
    src: url('../fonts/AppleMyungjo.ttf') format('truetype');

}

nav {
  font-family: 'cirkabold';
  font-size: 30pt;
  margin: 40pt;
  color: #0C354D;
}

p{
  left:50%;
  top: 65%;
  transform: translate(-50%, -50%);
  position:fixed;
  font-family: 'cirkaregular';
  font-size: 55pt;

}
h1{
  position:fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
  color: yellow;
  font-family: 'AppleMyungjo';
  font-size:60pt;
  font-weight: normal;
}
h2{
  position:fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-align: center;
  color: yellow;
  font-family: 'changsongjian';
  font-size:60pt;
  font-weight: normal;
}
h3{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'cirkaregular';
  font-size:55pt;
  font-weight: normal;
}

h4{
  padding-top: 40px;
  position:relative;
  color: #0C354D;
  font-family: 'cirkaregular';
  font-size:18pt;
  font-weight: normal;
}



body{
  overflow-x:hidden;
  width:100%;
}

svg{
  position:absolute;
  width: 100%;
  height: 200pt;
  position:fixed;
  padding-top: 45pt;
  opacity: 1;
  z-index: 100;
}


.line1{
  stroke: #0C354D;
  stroke-width:1.2px;
  stroke-linecap: round;
  fill: none;
  display: none;

}


.one {
color: #0C354D;
}

.one:hover{
  text-shadow: 0px 0px 0px #0C354D;

}

.one h3{
position:relative;
color: #0C354D;
width: 100%;
line-height: 40px;
text-align: center;
/*starting position*/
-moz-transform:translateX(50%);
-webkit-transform:translateX(50%);
transform:translateX(50%);
-moz-animation: one 26s linear infinite alternate;
-webkit-animation: one 26s linear infinite alternate;
animation: one 43s linear infinite alternate;
}

@-moz-keyframes one {
0% { -moz-transform: translateX(50%); }
100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes one {
0% { -webkit-transform: translateX(50%); }
100% { -webkit-transform: translateX(-50%); }
}
@keyframes one {
0% {
-moz-transform: translateX(50%); /* Browser bug fix */
-webkit-transform: translateX(50%); /* Browser bug fix */
transform: translateX(30%);
}
50% {
-moz-transform: translateX(-50%); /* Browser bug fix */
-webkit-transform: translateX(-50%); /* Browser bug fix */
transform: translateX(-40%);
}
}
.two {
height: 20px;
margin-top: 10pt;
position: relative;
color: transparent;
text-shadow: 0px 0px 1px #0C354D;
transition: text-shadow 0.1s linear;
}

.two:hover{
  text-shadow: 0px 0px 0px #0C354D;
}

.two h3{
position: relative;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/*starting position*/
-moz-transform:translateX(50%);
-webkit-transform:translateX(50%);
transform:translateX(50%);
-moz-animation: two 26s linear infinite alternate;
-webkit-animation: two 26s linear infinite alternate;
animation: two 20s linear infinite alternate;
}

@-moz-keyframes two {
0% { -moz-transform: translateX(50%); }
100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes two {
0% { -webkit-transform: translateX(50%); }
100% { -webkit-transform: translateX(-50%); }
}
@keyframes two {
0% {
-moz-transform: translateX(50%);
-webkit-transform: translateX(50%);
transform: translateX(-20%);
}
50% {
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
transform: translateX(20%);
}
}

.three {
height: 60px;
position: relative;
overflow:visible;
padding-top: 20px;
color: transparent;
text-shadow: 0px 0px 3px #0C354D;
transition: text-shadow 0.1s linear;
}

.three:hover{
  text-shadow: 0px 0px 0px #0C354D;
}

.three h3{
position: relative;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/*starting position*/
-moz-transform:translateX(50%);
-webkit-transform:translateX(50%);
transform:translateX(50%);
-moz-animation: three 26s linear infinite alternate;
-webkit-animation: three 26s linear infinite alternate;
animation: three 38s linear infinite alternate;
}

@-moz-keyframes three {
0% { -moz-transform: translateX(50%); }
100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes three {
0% { -webkit-transform: translateX(50%); }
100% { -webkit-transform: translateX(-50%); }
}
@keyframes three {
0% {
-moz-transform: translateX(50%); /* Browser bug fix */
-webkit-transform: translateX(50%); /* Browser bug fix */
transform: translateX(10%);
}
50% {
-moz-transform: translateX(-50%); /* Browser bug fix */
-webkit-transform: translateX(-50%); /* Browser bug fix */
transform: translateX(-50%);
}
}
.four {
height: 60px;
overflow: hidden;
position: relative;
padding-top: 20px;
color: transparent;
text-shadow: 0px 0px 6.5px #0C354D;
transition: text-shadow 0.1s linear;
}
.four:hover{
  text-shadow: 0px 0px 0px #0C354D;

}

.four h3{
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/*starting position*/
-moz-transform:translateX(50%);
-webkit-transform:translateX(50%);
transform:translateX(50%);
-moz-animation: four 30s linear infinite alternate;
-webkit-animation: four 30s linear infinite alternate;
animation: four 30s linear infinite alternate;
}

@-moz-keyframes four {
0% { -moz-transform: translateX(50%); }
100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes four {
0% { -webkit-transform: translateX(50%); }
100% { -webkit-transform: translateX(-50%); }
}
@keyframes four {
0% {
-moz-transform: translateX(50%);
-webkit-transform: translateX(50%);
transform: translateX(20%);
}
50% {
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
}
}

.five {
height: 60px;
overflow:visible;
position: relative;
padding-top: 20px;
color: transparent;
text-shadow: 0px 0px 8px #0C354D;
transition: text-shadow 0.1s linear;
}

.five:hover{
  text-shadow: 0px 0px 0px #0C354D;
}

.five h3{
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/*starting position*/
-moz-transform:translateX(40%);
-webkit-transform:translateX(40%);
transform:translateX(40%);
-moz-animation: five 26s linear infinite alternate;
-webkit-animation: five 26s linear infinite alternate;
animation: five 24s linear infinite alternate;
}

@-moz-keyframes five {
0% { -moz-transform: translateX(50%); }
100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes five {
0% { -webkit-transform: translateX(50%); }
100% { -webkit-transform: translateX(-50%); }
}
@keyframes five {
0% {
-moz-transform: translateX(50%);
-webkit-transform: translateX(50%);
transform: translateX(-10%);
}

50% {
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
transform: translateX(50%);
}
}
.six {
height: 60px;
overflow: hidden;
position: relative;
padding-top: 20px;
color: transparent;
text-shadow: 0px 0px 9px #0C354D;
transition: text-shadow 0.1s linear;
}
.six:hover{
  text-shadow: 0px 0px 0px #0C354D;
}
.six h3{
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/*starting position*/
-moz-transform:translateX(50%);
-webkit-transform:translateX(50%);
transform:translateX(50%);
-moz-animation: six 26s linear infinite alternate;
-webkit-animation: six 26s linear infinite alternate;
animation: six 30s linear infinite alternate;
}

@-moz-keyframes six {
0% { -moz-transform: translateX(50%); }
100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes six {
0% { -webkit-transform: translateX(50%); }
100% { -webkit-transform: translateX(-50%); }
}
@keyframes six {
0% {
-moz-transform: translateX(50%);
-webkit-transform: translateX(50%);
transform: translateX(-40%);
}
50% {
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
transform: translateX(20%);
}
}


.two{
  padding-top: 53pt;
}
.three{
  padding-top: 53pt;
}
.four{
  padding-top: 53pt;
}
.five{
  padding-top: 53pt;
}
.six{
  padding-top: 53pt;
}
.article1{
  width: 500px;
  padding-top: 100px;
  padding-left: 50px;
  overflow: scroll;
  font-variant-numeric: oldstyle-nums;
}
.article2{
  width: 600px;
  padding-top: 100px;
  padding-left: 50px;
  overflow: scroll;
  font-variant-numeric: oldstyle-nums;
}
.article3{
  width: 600px;
  padding-top: 100px;
  margin-left: 60pt;
  overflow: scroll;
  font-variant-numeric: oldstyle-nums;
}


a:link, a:visited{
  color:#0C354D;
}
a:hover {
    color: #0C354D;
}



.fig1{
        position:absolute;
        left: 700px;
        top:500px;
        margin: 20px;
    }

.fig2{
        position:absolute;
        left: 700px;
        top:800px;
        margin: 20px;
        }

.fig3{
        position:absolute;
        left: 650px;
        top:500px;
        margin: 15px;
        }
.fig4{
        position:absolute;
        left: 650px;
        top:960px;
        margin: 15px;
                        }
.fig5{
        position:absolute;
        left: 650px;
        top:1400px;
        margin: 15px;
                        }
.fig6{
        position:absolute;
        left: 650px;
        top:1760px;
        margin: 15px;
                        }
.fig7{
        position:absolute;
        left: 70px;
        top:1500px;
        margin: 15px;
                        }
.fig8{
        position:absolute;
        left: 700px;
        top:1870px;
        margin: 15px;
                        }
.fig9{
        position:absolute;
        left: 130px;
        top:2400px;
        margin: 15px;
                        }

figcaption{
    font-family: 'cirkaregular';
    font-size: 11pt;
    caption-side: bottom;
    display:inline-block;
    width: 200px;
    color:#0C354D;
    margin-right: 20px;

  }

  #time1{
    text-decoration:underline;
    underline: wavy;

  }
.video1{
  display:block;
  margin: auto;
  margin-top: 60pt;
  align-items: center;
}
.video2{
  display:block;
  margin-left: 20pt;
  margin-top: 70pt;
}

.video3{
  display:block;
  margin-left: 800px;
}
.video4{
  display: block;
  margin-left: 40pt;
}
.Video {
  position: fixed;
  min-height: 100%;
  min-width:100%;
  right: 0;
  bottom: 0;
}
.bottom_0{
  display:block;
  width:230px;
  padding-left: 70pt;
  padding-bottom: 30pt;
  margin-top: 1900pt;
  z-index: 100;
}
