@font-face {
    font-family: 'cirkaregular';
    src: url('../fonts/Cirka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirkabold';
    src: url('../fonts/Cirka-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'changsongjian';
    src: url('../fonts/changsongjian.ttf') format('truetype');

}

@font-face {
    font-family: 'AppleMyungjo';
    src: url('/fonts/AppleMyungjo.ttf') format('truetype');

}

nav {
  background-color: pink;
  font-family: 'cirkaregular';
}
p{
  color:yellow;
  font-family: 'cirkaregular';
  font-size: 12pt;
}
h1{
  position:absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
  color: yellow;
  font-family: 'AppleMyungjo';
  font-size:60pt;
  font-weight: normal;
}
h2{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: yellow;
  font-family: 'changsongjian';
  font-size:60pt;
  font-weight: normal;
}
h3{
  position:absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: yellow;
  font-family: 'cirkaregular';
  font-size:55pt;
  font-weight: normal;
}

h4{
  position:relative;
  color: yellow;
  font-family: 'cirkaregular';
  font-size:40pt;
  font-weight: normal;
}
.crop-height{
  max-height: 300px;
  padding-top: 0;
  width: 100%;
  overflow: hidden;
}
