@font-face{
  font-family:'DIARY';
  src: url('../font/DIARY.ttf') format('truetype-variations');
}

@font-face{
  font-family:'RECURSIVE';
  font-style: oblique -15deg 0deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('../font/Recursive_VF_1.043--subset_range_english_basic.woff2') format('woff2-variations');
  unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}

@font-face{
  font-family:'RECURSIVE_slanted';
  src: url('../font/RecursiveSansCslSt-MedItalic.ttf') format('truetype');
}

:root{
  --wght: 100;
  --hue: 180;
  --sat: 50;
  --lum: 80;
  --CASL: 1;
}


.DIARY, .DIARY *{
  font-variation-settings: 'wght' var(--wght);
}
.RECURSIVE, .RECURSIVE *{
  font-variation-settings: 'CASL' var(--casl);
}

#roof{
  position: absolute;
  top:0pt;
}
#sliders ul{
	margin: auto;
}
#sliders li{
	display: inline-flex;
	justify-content: center;
}


#shape{
	font-family: 'DIARY', sans-serif;
	font-style: normal;
	font-size: 1000px;
	line-height: 0.2;
	margin-bottom: 0rem;
  padding-top: 160px;
  color: hsl(var(--hue), calc(var(--sat)*1%), calc(var(--lum)*1%));
}

#newshape{
  font-family: 'DIARY', sans-serif;
	font-style: normal;
	font-size: 1000px;
	line-height: 0.2;
	margin-bottom: 0rem;
  padding-top: 160px;
  color: hsl(var(--hue), calc(var(--sat)*1%), calc(var(--lum)*1%));
  font-weight: var(--wght);
  z-index: 10;
  position: absolute;
  left: 30%;
  padding-top: 20px;

}
#small_shape0{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: rgba(0,0,0,0);
  font-size: 300px;
  top: 10px;
  left: 370px;
  --wght: 200;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape0:hover{
  font-variation-settings: 'wght' 350;
  -webkit-transform: rotate(360deg) translateZ(0);
  color: grey;
  font-size: 200px;
}

#small_shape1{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0);
  font-size: 200px;
  top: 200px;
  left: 600px;
  --wght: 200;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape1:hover{
  font-variation-settings: 'wght' 200;
  -webkit-transform: rotate(360deg) translateZ(0);
  color: red;
  font-size: 200px;
}

#small_shape2{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: grey;
  font-size: 300px;
  top: 380px;
  left: 320px;
  position: absolute;
  display: inline-block;
  font-variation-settings: 'wght' 200;
  animation: breathe 10000ms infinite;
}
@keyframes breathe {
  60% {
    font-variation-settings: 'wght' 500;
    color: blue;
  }

  100% {
    font-variation-settings: 'wght' 100;
     color: grey;
  }
}

#small_shape3{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: #c9c597;
  font-size: 200px;
  top: 380px;
  right: 600px;
  --wght: 400;
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape3:hover{
  font-variation-settings: 'wght' 200;
  transition: font-variation-settings 500ms ease-in-out;
  color: #41aa54;
  font-size: 200px;
}
#small_shape4{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: #113826;
  font-size: 240px;
  top: 54px;
  right: 530px;
  --wght: 200;
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape4:hover{
  font-variation-settings: 'wght' 500;
  transition: font-variation-settings 400ms ease-in-out;
  color: #a7b1c4;
  font-size: 240px;
}

#small_shape5{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  font-size: 330px;
  top: 30px;
  right: 200px;
  position: absolute;
  display: inline-block;
  font-variation-settings: 'wght' 300;
  animation: breathe0 20000ms infinite forwards;
}
@keyframes breathe0 {
  20% {
    font-variation-settings: 'wght' 100;
    color: #daef18;
  }

  100% {
    font-variation-settings: 'wght' 500;
     color: #b3c6a5;
  }
}
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360);}
}
#small_shape6{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: red;
  font-size: 230px;
  top: 300px;
  right: 360px;
  --wght: 100;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape6:hover{
  font-variation-settings: 'wght' 150;
  color: white;
  font-size: 230px;
}

#small_shape7{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: rgba(0,0,0,0);
  font-size: 300px;
  top: 180px;
  left: 260px;
  --wght: 200;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape7:hover{
  font-variation-settings: 'wght' 240;
  font-size: 600px;
  color: pink;
  font-size: 200px;
}
#small_shape8{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: #ffff01;
  font-size: 200px;
  top: 320px;
  left: 100px;
  --wght: 100;
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape8:hover{
  font-variation-settings: 'wght' 320;
  transition: font-variation-settings 500ms ease-in-out;
  color: #b1efdc;
  font-size: 200px;
}

#small_shape9{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: rgba(0,0,0,0);
  font-size: 200px;
  top: 500px;
  right: 430px;
  --wght: 200;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape9:hover{
  font-variation-settings: 'wght' 300;
  -webkit-transform: rotate(360deg) translateZ(0);
  color: green;
  font-size: 200px;
}

#small_shape10{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  font-size: 200px;
  top: 230px;
  left: 380px;
  position: absolute;
  display: inline-block;
  font-variation-settings: 'wght' 300;
  animation: breathe1 20000ms infinite forwards;
}
@keyframes breathe1 {
  80% {
    font-variation-settings: 'wght' 500;
    color: #8b92e8;
  }

  100% {
    font-variation-settings: 'wght' 200;
     color: black;
  }
}

#small_shape11{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: #349980;
  font-size: 230px;
  top: 460px;
  right: 180px;
  --wght: 500;
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape11:hover{
  font-variation-settings: 'wght' 100;
  transition: font-variation-settings 700ms ease-in-out;
  color: #ef26ef;
  font-size: 230px;
}

#word{
  font-size: 20pt;
  font-family:'RECURSIVE', monospace;
}
.theme{
  font-family:'RECURSIVE', monospace;
  font-size: 160px;
  text-align: center;
  padding-top: 260px;
  animation: theme_color 48000ms infinite forwards;
  --casl: 0.4;
}
@keyframes theme_color {
  35% {
    color: yellow;
  }

  50% {
    color: white;
  }

  84% {
    color: green;
  }

  93% {
    color: red;
  }
}

button{
	font-family: 'RECURSIVE', monospace;
	font-size: 1em;
	background: white;
	outline: none;
  border-radius: 25px;
	padding: 1em;
	margin-top: 2rem;
  border:0.16em solid rgba(255,255,255,0);
}

button:hover{
  color: white;
	background: rgba(201,197,151,1);
  border-color: rgba(255,255,255,1);
	cursor: pointer;
}
.sliders{
  font-family:'RECURSIVE', monospace;
  font-size: 22px;
  text-align: left;
  position: relative;
  line-height: 25pt;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  border: 1px;
  background-color: pink;
  z-index: 10;
}
.field{
  font-family:'RECURSIVE', monospace;
  font-size: 25px;
  text-align: left;
  left: 600pt;
  position: absolute;
}
.text-field{
  padding-bottom: 40px;
}
.range-name::after{
	content: ': ';
}
input.axis-range{
	width: 300px;
	margin: 0 20px;
}

.submit{
  font-family:'RECURSIVE', monospace;
  font-size: 22px;
  background-color: white;
  position: relative;
  display: inline-flex;
}
.range-name{
  display: inline-block;
  width: 560px;
  font-size: 25px;
  margin-top: 10px;
}

.min, .max{
  font-size: 20px;
  color: grey;
}
#poster{
  display: none;
}
.time{
  font-family:'RECURSIVE_slanted', monospace;
  color: white;
  font-size: 19pt;
  text-align: left;
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 500pt;
  padding: 1em;
	margin-top: 0rem;
}
.word_poster{
  font-family:'RECURSIVE_slanted', monospace;
  color: hsl(var(--hue), calc(var(--sat)*1%), calc(var(--lum)*1%));
  font-size: 25px;
  z-index: 10;
}
#word{
  font-family:'RECURSIVE_slanted', monospace;
}

.window{
  position: fixed;
  left: 25%;
}

#rectangle{
  width: 100%;
  height: 170px;
  background-image: linear-gradient(to bottom,rgba(201,197,151,1) ,rgba(201,197,151,0));
  z-index: 20;
  display:block;
  position: fixed;
}
}
@media print {

}
