@font-face{
  font-family:'DIARY';
  src: url('../font/DIARY.ttf') format('truetype-variations');
}

@font-face{
  font-family:'RECURSIVE';
  font-style: oblique -15deg 0deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('../font/Recursive_VF_1.043--subset_range_english_basic.woff2') format('woff2-variations');
  unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}

:root{
  --wght: 100;
  --hue: 180;
  --sat: 50;
  --lum: 80;
  --CASL: 1;
}


.DIARY, .DIARY *{
  font-variation-settings: 'wght' var(--wght);
}
.RECURSIVE, .RECURSIVE *{
  font-variation-settings: 'CASL' var(--casl);
}

html, body { background-color: #f6f7eb; height:100%; margin:0; padding:0;}

#roof{
  position: absolute;
  top:0pt;
}
#sliders ul{
	margin: auto;
}
#sliders li{
	display: inline-flex;
	justify-content: center;
}
.range-name::after{
	content: ': ';
}
input.axis-range{
	width: 550px;
	margin: 0 20px;
}


#shape{
	font-family: 'DIARY', sans-serif;
	font-style: normal;
	font-size: 1000px;
	line-height: 0.2;
	margin-bottom: 0rem;
  padding-top: 160px;
  color: hsl(var(--hue), calc(var(--sat)*1%), calc(var(--lum)*1%));
}
#small_shape0{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: rgba(0,0,0,0);
  font-size: 300px;
  top: 10px;
  left: 370px;
  --wght: 200;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape0:hover{
  font-variation-settings: 'wght' 350;
  -webkit-transform: rotate(360deg) translateZ(0);
  color: black;
  font-size: 200px;
}

#small_shape1{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0);
  font-size: 200px;
  top: 200px;
  left: 600px;
  --wght: 200;
  position: absolute;
  transition: font-variation-settings 400ms ease-in-out;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape1:hover{
  font-variation-settings: 'wght' 200;
  -webkit-transform: rotate(360deg) translateZ(0);
  color: red;
  font-size: 200px;
}

#small_shape2{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: grey;
  font-size: 300px;
  top: 380px;
  left: 320px;
  position: absolute;
  display: inline-block;
  font-variation-settings: 'wght' 200;
  animation: breathe 10000ms infinite;
}
@keyframes breathe {
  60% {
    font-variation-settings: 'wght' 500;
    color: blue;
  }

  100% {
    font-variation-settings: 'wght' 100;
     color: grey;
  }
}

#small_shape3{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: #c9c597;
  font-size: 170px;
  top: 380px;
  right: 600px;
  --wght: 400;
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape3:hover{
  font-variation-settings: 'wght' 200;
  transition: font-variation-settings 400ms ease-in-out;
  color: #41aa54;
  font-size: 170px;
}
#small_shape4{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  color: #113826;
  font-size: 240px;
  top: 40px;
  right: 500px;
  --wght: 200;
  position: absolute;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.8s;
}
#small_shape4:hover{
  font-variation-settings: 'wght' 500;
  transition: font-variation-settings 400ms ease-in-out;
  color: #a7b1c4;
  font-size: 240px;
}

#small_shape5{
  font-family: 'DIARY', sans-serif;
  font-style: normal;
  font-size: 330px;
  top: 30px;
  right: 200px;
  position: absolute;
  display: inline-block;
  font-variation-settings: 'wght' 300;
  animation: breathe0 20000ms infinite forwards;
}
@keyframes breathe0 {
  20% {
    font-variation-settings: 'wght' 100;
    color: #daef18;
  }

  100% {
    font-variation-settings: 'wght' 500;
     color: #b3c6a5;
  }
}
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360);}
}

body{
	font-family: 'RECURSIVE', monospace;
	font-style: normal;
}
#word{
  font-size: 20pt;
  font-family:'RECURSIVE', monospace;
}
.theme{
  font-family:'RECURSIVE', monospace;
  font-size: 160px;
  text-align: center;
  padding-top: 130px;
  animation: theme_color 28000ms infinite forwards;
  --casl: 0.4;
}
@keyframes theme_color {
  40% {
    color: yellow;
  }

  60% {
    color: green;
  }

  90% {
    color: red;
  }
}

button{
	font-family: 'RECURSIVE', monospace;
	font-size: 1em;
	background: white;
	outline: none;
	padding: 1em;
	margin-top: 2rem;
  border-radius: 50%;
  border: 2px solid black;
}

button:hover{
	background: pink;
	cursor: pointer;
}
.sliders{
  font-family:'RECURSIVE', monospace;
  font-size: 22px;
  text-align: left;
  position: fixed;
  line-height: 25pt;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  border: 1px;
  background-color: pink;
  z-index: 10;
}
.field{
  font-family:'RECURSIVE', monospace;
  font-size: 27px;
  text-align: left;
  left: 600pt;
  position: relative;
}
.submit{
  font-family:'RECURSIVE', monospace;
  font-size: 22px;
  background-color: white;
  position: relative;

}
.range-name{
  display: inline-block;
}
.submit{
  display: inline-flex;
}

#poster{
  display: none;
}
.time{
  color: white;
  font-size: 19pt;
  text-align: left;
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 500pt;
  padding: 1em;
	margin-top: 0rem;
}
.word_poster{
  color: yellow;
  font-size: 22px;
  z-index: 10;
}

.window{
  position: fixed;
  left: 25%;
}

@media print {

}
